.DS_Store
*.xcuserdata
*.xcuserstate
*.xcbkptlist
QuestionAndAnswer.xcodeproj/project.xcworkspace/xcuserdata/andrewtran.xcuserdatad/UserInterfaceState.xcuserstate
QuestionAndAnswer.xcodeproj/xcuserdata/andrewtran.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
